
# Supabase
supabase/.temp/
supabase/functions/*/index.ts
!supabase/functions/_shared/
supabase/functions/_shared/index.ts
supabase/functions/main/index.ts

# Node
node_modules/

# Vite
.vite/

# VSCode
.vscode/

# Env
.env.local
